.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background: #c2c2d6;
}
.calculator {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}
.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}
button {
  position: relative;
  height: 65px;
  width: 80px;
  color: black;
  outline: 1px solid black;
  border: none;
  background: #DFDFDF;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
}
button:hover{
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
}
.jumbo {
  width: 160px;
}